
<%= form_tag("https://workersandbox.mturk.com/mturk/externalSubmit", :method => "post") do %>
    <p>Enter the text here:<br>
        <%= text_area_tag 'data', '', :cols => 80, :rows => 20 %>
    </p>
    
    <%= hidden_field_tag 'assignmentId', @assignment_id %>
    <%= hidden_field_tag 'hitId', @hit_id %>
    <%= hidden_field_tag 'keystroke', :value => "" %>  
   <%= submit_tag "Submit", :id => 'submitButton' %>
<% end %>
