<p id="notice"><%= notice %></p>

<h1>Listing Transcriptions</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>User</th>
      <th>Keystroke</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcriptions.each do |transcription| %>
      <tr>
        <td><%= transcription.data %></td>
        <td><%= transcription.user_id %></td>
        <td><%= transcription.keystroke %></td>
        <td><%= link_to 'Show', transcription %></td>
        <td><%= link_to 'Edit', edit_transcription_path(transcription) %></td>
        <td><%= link_to 'Destroy', transcription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transcription', new_transcription_path %>
