<script>
	var handler = function (e) { 
		handler.timestamp.push(e.timeStamp);


		if ( first_stroke ){
			first_stroke = false;
			handler.beginTime = handler.timestamp[0];

		}

		var n = handler.timestamp.length;
		handler.endTime = handler.timestamp[n-1];
		handler.keycount++;

		if ( handler.timestamp[n-1]-handler.timestamp[n-2] > 10000 ){
			handler.idleTime += handler.timestamp[n-1]-handler.timestamp[n-2];
		}
		document.getElementById('keystroke').value = 'begin: ' + handler.beginTime + ', end: ' + handler.endTime + ', keycount: '+ handler.keycount + ', idleTime: ' + handler.idleTime;

	}
	function sendTrackerData(timeAt) {
	    var xmlhttp;

	    if (window.XMLHttpRequest) {
	        // code for IE7+, Firefox, Chrome, Opera, Safari
	        xmlhttp = new XMLHttpRequest();
	    } else {
	        // code for IE6, IE5
	        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	    }

	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
	           if(xmlhttp.status == 200){
	              
	           }
	           else if(xmlhttp.status == 400) {
	              
	           }
	           else {
	              
	           }
	        }
	    }
	    
		xmlhttp.open("post", "/trackers");
		var formData = new FormData();
		formData.append('workerID', document.getElementById('worker_id_box').innerHTML);
		formData.append('audioID', document.getElementById('audio_id_box').innerHTML);
		formData.append('assignmentID', document.getElementById('assignment_id_box').innerHTML);
		if ( ti==0 )
			formData.append('data', document.getElementById('data').value);
		formData.append('timeAt', timeAt);
		formData.append('keyCount', handler.keycount);
		xmlhttp.send(formData);
	    
	}
	var ti = 240;
	function startTime() {
	    document.getElementById('timer').innerHTML = parseInt(ti/60) + ':' + ti%60;
	    if ( ti<10 ){
	    	document.getElementById('timer').style.color = "red";
	    }
	    if ( ti % 60 == 0 ){
	    	sendTrackerData(ti);
	    } 
	    if ( ti==0 ){
	    	document.getElementById('timer').innerHTML = "Your time is over, please submit the HIT before it expires."
	    	document.getElementById('timer').style.fontSize = "110%";
	    	document.getElementById('data').readOnly = "true";
	    }
	    ti = ti-1;
	    if ( ti>=0 )
		    setTimeout(startTime, 1000);

	}
	first_stroke = true;
	handler.beginTime = 0;
	handler.endTime = 0;
	handler.keycount = 0;
	handler.idleTime = 0;
	handler.timestamp = [];
	window.addEventListener("keyup", handler);
	document.body.onload = function () {
		
		if ( document.getElementById('assignment_id_box').innerHTML != 'ASSIGNMENT_ID_NOT_AVAILABLE'){
			document.getElementById('preview_div').style.display = 'none';
			document.getElementById('task_div').style.display = 'inline';
			if ( document.getElementById('audio_time_box').innerHTML === 't' ){
				if ( document.getElementById('timer_amount_box').innerHTML === '5' )
					ti = 300;
				startTime();
			}
			
		}
		if ( document.getElementById('audio_id_box').innerHTML == 'p1b2' ||  document.getElementById('audio_id_box').innerHTML == 'p1g2' ){
				if ( document.getElementById('assignment_id_box').innerHTML == 'ASSIGNMENT_ID_NOT_AVAILABLE' )
					sendTrackerData(1010);
				else
					sendTrackerData(2020);
		}
	}
</script>

<div id="preview_div">
		<% if @audioid == 'p1t6' && @review == 'p' %>
			<h1>Summary task</h1>
			<p>In this task you will listen to a 2 minute audio clip and write a summary <span style="text-decoration: underline">in your own words.</span></p>
			<p>Similar to previous tasks, you can earn up to a 50 cents bonus by putting in extra effort into your work.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% elsif @audioid == 'p1t6' %>
			<h1>Summary task</h1>
			<p>In this task you will listen to a 2 minute audio clip and write a summary <span style="text-decoration: underline">in your own words.</span></p>
			<p>You will see the audio clip after you accept the task.</p>
		<% elsif @audioid == 'p1t5' &&  @review == 'p'%>
			<h1>Transcription task</h1>
			<p>In this task you will be given a 1:40 minute audio clip to transcribe.</p>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 5 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted and you will earn the base pay (65 cents). Your earnings will increase with your accuracy, up to a maximum of $1, as illustrated in the figure below. The extra payment will be made through a bonus. If your accuracy is between 50-60% you will be given a chance to fix your errors and earn the base pay. </p>
			<%= image_tag("Contract3.png", :alt => "bonus", :width => "400px") %>
		<% elsif @audioid == 'p1t5' %>
			<h1>Transcription task</h1>
			<p>In this task you will be given a 1:40 minute audio clip to transcribe.</p>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 5 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted. If your accuracy is between 50-60% you will be given a chance to fix your errors.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% elsif @review == 'p' %>
			<h1>Transcription task</h1>
			<p>In this task you will be given a one minute audio clip to transcribe.</p>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 4 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted and you will earn 50 cents. Your earnings will increase with your accuracy, up to a maximum of $1, as illustrated in the figure below. The extra payment will be made through a bonus. If your accuracy is between 50-60% you will be given a chance to fix your errors and earn the base pay. </p>
			<%= image_tag("Contract3.png", :alt => "bonus", :width => "400px") %>
			
		<% elsif  @audioid === "p1g2" || @audioid === "p1b2" %>
			<h1>Transcription review task</h1>
			<p>In this task you will be given a five minute audio clip and a transcription. Your task is to listen to the audio and fix any problems in the transcription or fill in any missing parts.</p>
			<p>After you submit the task, check your inbox for a link to more tasks.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% elsif @audioid == "p1t1" %>
			<h1>Transcription task</h1>
			<p>In this task you will be given a one minute audio clip to transcribe.</p>
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted. If your accuracy is between 50-60% you will be given a chance to fix your errors.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% else %>
			<h1>Transcription task</h1>
			<p>In this task you will be given a one minute audio clip to transcribe.</p>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 4 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted. If your accuracy is between 50-60% you will be given a chance to fix your errors.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% end %>



	</div>

	<div id="task_div"  style="display:none">
		<% if @audioid == 'p1t6' && @review == 'p' %>
			<h1>Summary task</h1>
			<p>In this task you will listen to a 2 minute audio clip and write a summary <span style="text-decoration: underline">in your own words.</span></p>
			<p>Similar to previous tasks, you can earn up to a 50 cents bonus by putting in extra effort into your work.</p>
		<% elsif @audioid == 'p1t6' %>
			<h1>Summary task</h1>
			<p>In this task you will listen to a 2 minute audio clip and write a summary <span style="text-decoration: underline">in your own words.</span></p>
		<% elsif @audioid == 'p1t5' &&  @review == 'p'%>
			<h1>Transcription task</h1>
			<p>In this task you will be given a 1:40 minute audio clip to transcribe.</p>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 5 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted and you will earn the base pay (65 cents). Your earnings will increase with your accuracy, up to a maximum of $1, as illustrated in the figure below. The extra payment will be made through a bonus. If your accuracy is between 50-60% you will be given a chance to fix your errors and earn the base pay. </p>
			<%= image_tag("Contract3.png", :alt => "bonus", :width => "400px") %>
		<% elsif @audioid == 'p1t5' %>
			<h1>Transcription task</h1>
			<p>In this task you will be given a 1:40 minute audio clip to transcribe.</p>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 5 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted. If your accuracy is between 50-60% you will be given a chance to fix your errors.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% elsif @audioid === "p1g2" || @audioid === "p1b2" %>
			<p>In this task you will be given a five minute audio clip and a transcription. Your task is to listen to the audio and fix any problems in the transcription or fill in any missing parts.</p>
			<p>After you submit the task, check your inbox for a link to more tasks.</p>
			
		<% elsif @review == 'p' %>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 4 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted and you will earn 50 cents. Your earnings will increase with your accuracy, up to a maximum of $1, as illustrated in the figure below. The extra payment will be made through a bonus. If your accuracy is between 50-60% you will be given a chance to fix your errors and earn the base pay. </p>
			<%= image_tag("Contract3.png", :alt => "bonus", :width => "400px") %>
			
		<% elsif @audioid === "p1t1" || @audioid === "p1g2" || @audioid === "p1b2" %>
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted (if your accuracy is between 50-60% you will be given a chance to fix your errors). </p>
		<% else %>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 4 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted (if your accuracy is between 50-60% you will be given a chance to fix your errors). </p>
		<% end %>

		<p>If you have any questions, email us at researchproject97@gmail.com</p>
		<% if @audioid != 'p1t6' %>
			<p>Listen to the following audio clip and transcribe it:</p>			
		<% end %>

		<div style="display: none;" id="assignment_id_box"><%= @assignment_id  %></div>
		<div style="display: none;" id="worker_id_box"><%= @worker_id  %></div>
		<div style="display: none;" id ="audio_id_box"><%= @audioid %></div>
		
		<div style="display: none;" id ="audio_time_box"><% if @audioid === "p1t1" || @audioid === "p1g2" || @audioid === "p1b2" || @audioid == "p1t6" %>nt<% else %>t<%end%></div>
		<div style="display: none;" id ="timer_amount_box"><% if @audioid === "p1t5" %>5<% else %>4<%end%></div>
		<audio controls>
			<source src= <%= "https://stanford.edu/~niloufar/audio/"+@audioid+".mp3" %> type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
		<br><br>
		<div id="timer" style="font-size: 200%"></div>
		<%= render 'form' %>

	</div>
