<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @transcription.data %>
</p>

<p>
  <strong>User:</strong>
  <%= @transcription.user_id %>
</p>

<p>
  <strong>Keystroke:</strong>
  <%= @transcription.keystroke %>
</p>

<p>
  <strong>Keytime:</strong>
  <%= @transcription.keytime %>
</p>

<%= link_to 'Edit', edit_transcription_path(@transcription) %> |
<%= link_to 'Back', transcriptions_path %>
